<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blackzheng.me.piebald">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <provider
            android:name=".dao.DataProvider"
            android:authorities="com.blackzheng.piebald.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PhotoDetailActivity"
            android:label="@string/details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PhotoZoomingActivity"
            android:label="@string/app_name"
            android:theme="@style/NoTitleFullscreen" />
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".ui.ShareSelectActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label=""
            android:theme="@style/DialogStyleBottom" />
        <activity
            android:name=".ui.UserAlbumActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.CollectionActivity" />
        <activity android:name=".ui.FeedbackActivity"></activity>


        <!-- 友盟的KEY -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="umeng_appkey" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="umeng_message_secret" />


    </application>

</manifest>